doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    link(rel='stylesheet', type='text/css', href="./static/css/styles.min.css")
    link(rel='shortcut icon', type='image/x-icon', href="favicon.ico")
    title #{title}
  body
    div(class='wrapper')
      div(class='content')
        div(class='right margin-top-bottom header-text')
          h1(class='x-large') #{whoami}
        div(class='parent')
          div(class='about')
            div(class='large margin-top-bottom main-text')
              p
                strong #{fullName}
              p #{position}
            div(class='big margin-top-bottom link-text')
              each link in links
                a(id=link.id, href=link.url)= link.name
                |  
          img(class='main-photo' src='./static/assets/photo.jpg')
        div(class='left margin-top-bottom header-text')
          h1(class='x-large') #{whatdoido}
        div(class='medium main-text')
          p !{mainText}
      footer(class='footer small main-text')
        p #{copyright}
